<%= simple_form_for(@link) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.association :song %>
	<%= f.association :show, :label_method => lambda { |show| "#{show.date} - <br> #{Venue.find(show.venue_id).name rescue ''}".html_safe } %>
    <%= f.input :mediatype, collection: @types %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
