<table class="datatable table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Venue</th>
			<th>City</th>
			<th>Country</th>
			<th>Links</th>
			<th>Edit</th>
			<th>Count</th>
		</tr>
	</thead>
	<% @shows.each do |show| %>
		<tr>
			<td><%= link_to show.date, show %></td>
			<td><%= show.venue.name rescue '' %></td>
			<td><%= show.venue.city rescue '' %></td>
			<td><%= show.venue.country rescue '' %></td>
			<td><%= show.links.length rescue '' %></td>
			<td><%= link_to 'Edit', edit_show_path(show) %></td>
			<td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'New Show', new_show_path, :class => 'btn' %>
