<p id="notice"><%= notice %></p>
  <b>Date:</b>
  <%= @show.date %>

  <b>Description:</b>
  <%= @show.description %>

  <b>Img:</b>
  <%= @show.img %>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
