<p id="notice"><%= notice %></p>
<div class="row">
<% @show.links.each do |link| %>
  <div class="row">
    <div class="span6">
      <iframe width="560" height="315" src="<%= link.url.insert(23, 'embed/').sub('watch?v=', '') %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span6">
      <h2><%= link.song.title %></h1>
    </div>
  </div>
  <br>
  <hr>
  <br>
<% end %>
<%= @show.songs %>
</div>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
