<p id="notice"><%= notice %></p>
<div class="row">
<%= @show.date %>
<%= @show.description %>
<%= @show.artists %>
<%= @show.presses %>
<% @show.links.each do |link| %>
  <%= link_to link.url, link.url %>
<% end %>
<%= @show.songs %>
</div>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
