	<% @shows.each do |show| %>
    <div class="row">
      <div class="span9 offset2 ticket-container">
        <div class="details">
          <div class="venue"><%= show.venue.name.upcase rescue '' %></div>
          <div class="city"><%= show.venue.city rescue '' %>, <%= show.venue.country rescue '' %></div>
          <div class="band-name">First Aid Kit</div>
          <div class="date-month"><%= show.date.strftime("%b").upcase rescue '' %></div>
          <div class="date-day"><%= show.date.strftime("%d").upcase rescue '' %></div>
          <div class="date-year"><%= show.date.strftime("%Y").upcase rescue '' %></div>
          <div class="link-count">LINK COUNT: <%= show.links.length rescue '' %> </div>

        </div>
      </div>
    </div>
	<% end %>

