	<% @shows.each do |show| %>
    <div class="row">
      <div class="span9 offset2 ticket-container">
        <div class="details">
          <div class="venue"><%= show.venue.upcase rescue '' %></div>
          <div class="city"><%= show.city rescue '' %>, <%= show.country rescue '' %></div>
          <div class="band-name">First Aid Kit</div>
          <div class="date-month"><%= show.date.strftime("%b").upcase rescue '' %></div>
          <div class="date-day"><%= show.date.strftime("%d").upcase rescue '' %></div>
          <div class="date-year"><%= show.date.strftime("%Y").upcase rescue '' %></div>
          <div class="link-count">COUNT: <%= show.links.length rescue '' %> </div>
          <div class="video-link"><%= link_to "VIDEOS", show  %> </div>
          <div class="add-link-btn">
            + add link
          </div>
          <div class="add-link-container">
            <%= render 'form-ticket',  :link => Link.new, :show => show %>
          </div>
        </div>
      </div>
    </div>
	<% end %>

